/* /footer/ */
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 100%;
}
footer ul li {
  font-size: 38.65px;
  font-weight: 400;
  margin-left: 94px;
  color: #b19e7f;
  direction: rtl;
}
ul li:last-child {
  margin-left: 0px;
}
footer li {
  display: inline;
  /* margin-left: 20px; */
}
.footerinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-contant {
  display: flex;
  align-items: end;
  text-align: right;
}
.footer-contant p {
  margin-right: 10px;
}

.endfooter {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 110.99px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.endfooter p {
  color: black;
  font-size: 29.32px;
  font-weight: 600;
  direction: rtl;
}
