.servicess-bg {
  background-image: url(./img/services-Bg.png);
  width: 100%;
  height: 584px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.servicess-bg h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 600;
  direction: rtl;
}

.ourservices {
  position: absolute;
  top: 20%;
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.srervoces-victor {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 30px;
}
.vector-contant h3 {
  color: #b19e7f;
  font-weight: 600;
  font-size: 38px;
  margin: 0;
  direction: rtl;
}
.vector-contant p {
  font-weight: 300;
  font-size: 33px;
  margin: 0;
  direction: rtl;
}
.account {
  margin-bottom: 40px;
}
.account h2 {
  text-align: right;
  font-size: 36px;
  direction: rtl;
  margin: 0;
  margin-bottom: 10px;
  /* word-spacing: 5px;
  letter-spacing: 2px; */
}
.account p {
  text-align: right;
  font-size: 22px;
  font-weight: 600;
  line-height: 40pt;
  word-spacing: 5px;
  letter-spacing: 2px;
  direction: rtl;
  text-align: right;
  margin: 0;
}
.account-serv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  align-content: center;
  margin-bottom: 30px;
}
.item {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 10px 30px;
  border-radius: 20px;
}
.item3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: right;
  text-align: end;
}
.item7 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.item9 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.item p {
  color: #b19e7f;
  font-weight: 600;
  font-size: 24px;
  direction: rtl;
  text-align: right;
}
.span {
  color: black;
  font-weight: 600;
  font-size: 24px;
  direction: rtl;
  text-align: right;
}
.hr-bg {
  background-image: url(./img/bg2.png);
  width: 100%;
  height: 584px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.hr-item2 {
  grid-column: 2 / 5;
  grid-row: 1 / 4;
}
.hr-item3 {
  grid-row: 2 / 4;
}
.hr-item4 {
  grid-column: 1 / 3;
}
.hr-item5 {
  grid-column: 3 / 5;
}

.gover-bg {
  background-image: url(./img/gover-bg.png);
  width: 100%;
  height: 584px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.gover-item1 {
  grid-column: 1 / 3;
}
.gover-item2 {
  grid-column: 3 / 5;
}
.gover-item3 {
  grid-column: 1 / 3;
}
.gover-item4 {
  grid-column: 3 / 5;
}
.gover-item6 {
  grid-column: 2 / 5;
}
.gover-item8 {
  grid-column: 2 / 5;
}
.gover-item9 {
  grid-column: 2 / 5;
}

.design-bg {
  background-image: url(./img/design.png);
  width: 100%;
  height: 584px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.design-item1 {
  grid-column: 1 / 4;
}
/* .design-item2 {
  grid-column: 3 / 5;
} */

.design-item4 {
  grid-column: 2 / 5;
}
.de {
  direction: rtl;
}
